
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>OpenFitnessApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <header>
        <h1>OpenFitnessApp</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>

                {% if 'username' in session %}


                <li><a href="/create_workout">Create Workout</a></li> <! navbar-- -->
<               <li><a href="/my_workouts">My Workouts</a></li>



                <li>


                </li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}

                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Overview</h2>
            <p>There should be the body render to display muslce usage</p>
            <a href="{{ url_for('createworkout') }}" class="btn">Log Your first workout</a>
        </section>
        <section class="features">
            <h2>Features</h2>
            <div class="feature-item">
                <h3>Work Log</h3>
                <p>here shoud be the graph for user body table that shows muscled worked </p>
            </div>
            <div class="feature-item">
                <h3>Gym Goals</h3>
                <p>Set and manage your goal</p>
            </div>
            <div class="feature-item">
                <h3>Weight and Calorie Tracker</h3>
                <p>Monitor your weight.</p>
            </div>
        </section>
    </main>
</body>

</html>